.orange{
    color: #FF630E;
}
.card-header1{    
background-color: #a435f0 !important;
color: #fff !important;
}
.card-header2{    
background-color: #dddb36 !important;
color: #1c1d1f !important;
}
.card-header3{    
background-color: #2d907f !important;
color: #fff !important;
}
.card{
    border: none !important;
}
.card:hover{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    border: none !important;
}